/*Color Palette https://coolors.co/f5d9df-fbbbbc-e4bee0-5ed4d3-e71f68*/

body {
    background-color: #F5D9DF;
    font-family: "Nunito", sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #E71F68;
}

#mainNavbar .navbar-brand{
    color: #E71F68;
}

#profileImage{
    background-image: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    background-size: 400% 400%;
    overflow: auto;
    animation: gradient 15s ease infinite;
}

@keyframes gradient{
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }
}

#headingGroup span{
    color:#E71F68;
}

#headingGroup h1{
    font-weight: 100;
    font-size: 4rem;
    background: radial-gradient(circle, #F48FB1 0%,  #CE93D8 20%, #47c3d3 40%, #A5D6A7 60%, #B39DDB 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: gradient 15s linear infinite alternate;
}

@media (max-width: 1200px){
    #headingGroup h1{
        font-weight: 100;
        font-size: 3rem;
    }
}

.frontPageIcons{
    color: white;
    font-size: 2rem;
}

.frontPageHeader {
    color:#E71F68;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p{
    color: #F17EA8;
    font-size: 1.125rem;
    font-weight: 100;
    line-height: 2.0;
}

.content{
    margin-top: 100px;
    margin-bottom: 100px;
}

.content:last-of-type{
    margin-bottom: 0px;
}

.navbar{
    background-color: #E4BEE0;
    transition: background 400ms;
}
