<%- include('partials/header')%>
    <meta name="description" content="This website is a porfolio website for Ashley Xu, a software 
    developer in the Chicago, Illinois area. This page provides the updated resume of Ashley Xu.">
    <title>Ashley Xu - Software Developer Resume</title>
    </head>

    <body>
        <%- include('partials/navbar')%>
            <h1 hidden>Resume</h1>
            <!-- <embed src="./imgs/ashleyXuResume.pdf" width="100%" height="1000px" /> -->
            <iframe src="./imgs/AshleyXuResumeNoPhone.pdf" style="width: 100%;height: 1000px;border: none;"></iframe>

            <%- include('partials/footer')%>